{% extends 'base.html' %}
{% block content %}
<table class="table">
    <tr>
        <th>Code</th>
        <th>Description</th>
        <th>Vietname Name</th>
        <th>English Name</th>
        <th>Credit</th>
        <th>Hour</th>
    </tr>

    <tr>
        <td>{{course.code}}</td>
        <td>{{course.description}}</td>
        <td>{{course.name_vi}}</td>
        <td>{{course.name_en}}</td>
        <td>{{course.credit}}</td>
        <td>{{course.hour}}</td>
    </tr>
</table>

<a class="btn btn-warning" href="back_to_courselist">Back to list</a>
{% endblock content %}