{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">

<table class="table">
    <tr>
        <th>Student_Code</th>
        <th>Name</th>
        <th>Date of Birth</th>
        <th>Address</th>
        <th>Email</th>
    </tr>

    <tr>
        <td>{{student.student_code}}</td>
        <td>{{student.name}}</td>
        <td>{{student.dob}}</td>
        <td>{{student.address}}</td>
        <td>{{student.email}}</td>
    </tr>
</table>

<a class="btn btn-warning" href="back_to_studentlist">Back to list</a>
{% endblock content %}