{% extends 'base.html' %}

{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/style.css' %}">

{% comment %} main {% endcomment %}

<h1 class="topic">
    Student Management Systerm    
</h1>
    <div class="container mt-3">
        <div class="row card-list">
            <div class="col-12 col-sm-6 col-lg-3 card" id="main_1">
                <div class="icon_case">
                    <i class="bi bi-mortarboard-fill"></i>
                </div>
                    <div class="box">
                        <h1>4</h1>  
                        <h3>Course</h3>
                    </div>    
                <div class="card_link">
                    <a href="../../course/course">Click here for details</a>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-lg-3 card" id="main_2">
                <div class="icon_case">
                    <i class="bi bi-book"></i>
                </div>
                    <div class="box">
                        <h1>5</h1>  
                        <h3>Class</h3>
                    </div>    
                <div class="card_link">
                    <a href="../../course/classroom">Click here for details</a>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-lg-3 card" id="main_3">
                <div class="icon_case">
                    <i class="bi bi-people-fill"></i>
                </div>
                    <div class="box">
                        <h1>50</h1>  
                        <h3>Student</h3>
                    </div>    
                <div class="card_link">
                    <a href="../../student/student">Click here for details</a>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-lg-3 card" id="main_4">
                <div class="icon_case">
                    <i class="bi bi-bar-chart-line-fill"></i>
                </div>
                    <div class="box">
                        <h1>100</h1>  
                        <h3>Mark</h3>
                    </div>    
                <div class="card_link">
                    <a href="../../student/result">Click here for details</a>
                </div>
            </div>

        </div>
    </div>
    
{% endblock content %}